/* Стили для ineax.html */

:root {
    --primary-text-color: #757575; 
    --accent-color: #2196F3;
    --accent-color-two: #FFFFFF;
    --primary-background-color: #FFFFFF;
    --title-text-color: #212121;
    --section-team-color: #F5F4FA;
    --footer-color: #2F303A;
    --buttom-text-color: #ffffff;
    --buttom-background-color: #2196F3;
    --buttom-background-active-color: #188CE8;
} 

 /* --primary-text-color: #757575;      первинний-тектовий-колір(основной цвет текста)  
 --accent-color: #2196F3;               акцент-цвет (додатковий колір на я кому робимо акцент)                 
 --accent-color-two: #FFFFFF;           акцент-цвет (додатковий другій колір)
 --primary-background-color: #FFFFFF;   первинний фоновий колір
 --title-text-color: #212121;           заголовок техта колір
 --section-team-color: #F5F4FA;         секції команда колір
 --footer-color: #2F303A;               футера цвет
 --buttom-text-color: #ffffff;          цвет текста кнопки
 --buttom-background-color: #2196F3;    цвет фона кнопки*/
 

/* body */

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    letter-spacing: 0.03em;
}

.body, a {
    text-decoration: none;
}
/* Отменяем подчеркивание у ссылки */

.list {
    list-style: none;
}
/* Этот селектор .list выключает точки
в тех списках ul в класс которых 
мы его вставляем!  а можно выключить 
все точки на всем сайте написавши
ul {list-style: none;} */



/* header */
/* nav */
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo-web {
    color: var(--accent-color);
}

.logo-studio {
    color: var(--title-text-color);
}

/* site-nav */

.site-nav .link {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}


.site-nav .link.current{
    color: var(--accent-color);
}

/* connecrion */
.connection .link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
} 

.connection .link:hover,
.connection .link:focus {
    color: var(--accent-color);
}

.site-nav .link .current a {
    color: var(--accent-color);
}
/* main */
/* section-hero */

.section-hero { 
    color: var(--accent-color-two);
    background-color: #2F303A;
}

.section-hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.buttom {
    color: var(--buttom-text-color);
    background-color: var(--buttom-background-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.02em;

    cursor: pointer;
}

.buttom:hover,
.buttom:active {
background-color: var(--buttom-background-active-color);
}

/* <!--Наші переваги--> */
/* section  */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
/* < !--Спрятали заголовок ! ! ! --> */

.section-title {
    color: var(--title-text-color);
}

/* feature-list-title */

.feature-list-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;      
}

.feature-list-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}
/* < !--Чим ми займаємося--> */
 
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
}

/* < !--Наша команда--> */

.section-team {
background-color: var(--section-team-color);
}

.team-name {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.team-name-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
}
/* < !--Футер--> */

.footer {
background-color: var(--footer-color);
}

.footer .logo-web {
    color: var(--accent-color);
}

.footer .logo-studio {
    color: var(--accent-color-two);
}

.footer .map-link {
    color: var(--accent-color-two);
}

.address .link {
    color: rgba(255, 255, 255, 0.6);
}

.map-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    }
 
.address .link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

.link:hover,
.link:focus {
    color: var(--accent-color)
}

.map-link:hover,
.map-link:focus {
    color: var(--accent-color)
}

/* ----------------------------------------------------------------------- */

/* Стили для portfolio.html */

.buttom-portfolio {
    font-family: inherit;
    color: #212121;
    background-color: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    cursor: pointer;
}

.buttom-portfolio:hover, 
.buttom-portfolio:focus {
    color: var(--buttom-text-color);
    background-color: var(--buttom-background-color);
}

.section-title-portfolio {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.section-title-portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
}

/* продолжаем */